<div class="container mt-5">
<div class="row">
   <div class="col-lg-12">
      <h1>Contact</h1>
   </div>
</div>
   <div class="row mb-3">
      <div class="col-lg-12">
         <div class="card">
            <div class="card-header">
               <h2>Let's Schedule a Time to Chat!</h2>
            </div>
            <div class="card-body">
               <h5 class="card-title mb-5">Call us at (302) 329-8855 or schedule a time to chat below.</h5>
               <div
                  class="calendly-inline-widget"
                  data-url="https://calendly.com/xandermar/general-information"
                  style="min-width:320px; height:700px;"></div>
            </div>
         </div>
      </div>
   </div>
</div>