<div class="container text-center mt-5">
  <div class="row">
    <div class="col-lg-6 mb-3">
      <h1>Dan Gibson</h1>
      <div><img width=320 height=240 class="img-fluid" src="/assets/dan-suit.jpg"></div>

    </div>
    <div class="col-lg-4 mb-3">
      <h2>Experience Overview</h2>
      <div class="descriptor">Drupal Developer: {{ getYearsSince(2003) }} years</div>
      <div class="descriptor">PHP: {{ getYearsSince(1995) }} years</div>
      <div class="descriptor">Bash/Basic/Cobol: {{ getYearsSince(1982) }} years</div>
      <hr>
      <h2>Highlights:</h2>
      <div>Drupal 7/8/9/10, Docker (Lando/Docksal), Jenkins CI/CD, Acquia (Pipelines, CLI), Amazon Web Services, Migration, Custom Modules/Themes, APIs, SimpleSAML, USWDS / Bootstrap, jQuery, Angular, React</div>
      <hr>
      <h2>Education:</h2>
      <div>Wilmington University, Georgetown, DE</div>
      <div>Bachelors of Science Business Management</div>
      <div>Minor: Computer Science / Mathematics</div>
      <hr>
      <a href="/experience" class="btn btn-light m-2">Experience</a>
      <a href="/portfolio" class="btn btn-light m-2">Portfolio</a>
      <a href="/contact" class="btn btn-light m-2">Contact/Resume</a>
    </div>
  </div>
</div>
